In [1]:
import joblib
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/capstone_tweets.csv")

In [3]:
df

,tweet_id,Tweet,following,followers,actions,is_retweet,location,date,sentiments,Naive Bayes Classification
0,1624436500086521856,@CCMOne @TheView @Alyssafarah That teaches you...,409,154,1,0,NaN,1676098800,Positive,1.0
1,1624436499532984321,@LifeNewsHQ She’s the product of indoctrinatio...,1602,926,2,0,"Pensacola, FL",1676098800,Positive,1.0
2,1624158414740783104,80 **BILLION** in COVID relief funds went to P...,262104,278501,18408,0,USA,1676034000,Positive,1.0
3,1624436487273193479,RT @LifeNewsHQ: 80 **BILLION** in COVID relief...,1237,979,5211,1,"Billings, MT",1676098800,Positive,1.0
4,1624436488539721729,@TXBridg @SunshineWav3s @stevieanntas @Poo_ann...,1121,856,4,0,"Asheville, NC/Laguna Hills, CA",1676098800,Positive,1.0
...,...,...,...,...,...,...,...,...,...,...
27392,1621525627454259203,@frfrankpavone @LifeNewsHQ @regretabortion Let...,781,380,4,0,"Dar es Salaam, Tanzania",1675407600,Negative,1.0
27393,1621604218225164289,@ZylstraJohn @jflory204 @JTighe1873 @Evelynne2...,1555,1499,10,0,NaN,1675425600,Negative,1.0
27394,1621617878251483136,@freeandwildCA @JTighe1873 @Evelynne24 @2AforC...,95,118,0,0,"Alberta, Canada, California.",1675429200,Negative,1.0
27395,1621617853475479552,RT @LifeNewsHQ: The abortion pill has killed a...,1207,1946,255,1,"Mississippi, USA",1675429200,Negative,1.0
27396,1621617848786223105,"RT @Men_4_Choice: First, they banned abortion....",5510,6257,80,1,Global,1675429200,Negative,0.0

In [6]:
def classify_spam(msg):
        """
        Classify a message as spam or not

        Returns:
            bool: True if spam, False if not
        """

        # predict using model
        vectorizer = joblib.load("../data/out/vectorizer.sav")
        NB = joblib.load("../data/out/final_naivebayes.sav")
        prediction = NB.predict(vectorizer.transform(pd.Series([msg])))

        return prediction[0]==1

In [8]:
from features import preprocess

In [11]:
test = preprocess("@CCMOne @TheView @Alyssafarah That teaches you")

In [12]:
classify_spam(test)

False